<section>

    <div class="search-section">
        <h1>
            Explore, care, celebrate
        </h1>

        <form action="" class="container-form">
            <input type="text" name="search" id="search" placeholder="What are you looking for...">
            <button class="btn-search"><i class="material-icons">search</i>Buscar</button>
        </form>
    </div>
    <video autoplay muted loop>
        <source src="assets/videos/earth-video.mp4" type="video/mp4">
    </video>
</section>